<!DOCTYPE html>
<html>
    <head>
        <title>Binds 2</title>

        <meta charset="utf-8">

        <script type="text/javascript" src="rivets.bundled.min.js"></script>
        <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <h2>Bindung 2</h2>

        <div id="block">

            <h3>Blöcke mit verschiedenen Bereichen</h3>

            <div id="zaehler" rv-if="zaehler">
                <h4>Zaehler</h4>

                <span> Zaehler gefunden !!!</span>
            </div>

            <hr>

            <section id="dummy">
                <h4>eigener Block</h4>

                <span rv-if="dummy.zaehler">Ja</span>
                Bla: <span rv-text="bla"></span> <br>
                Blub: <span rv-text="blub"></span> <br>
            </section>

            <hr>

            Bitte Namen eingeben : <input type="text" class="user_name" rv-value="user.name" rv-on-change="user.publish">
            <br />
            ihr Name : <span class="" rv-text="user.name"></span>
            <br />
            Inhalt1 : <span class="" rv-html="user.tag" rv-show="user.available"></span>
            <br />
            Inhalt2 : <span class="" rv-html="user.name" rv-unless="user.vote"></span>
            <br /><br>

            <button rv-enable="user.sendData">auslösen</button>
        </div>

        <script type="text/javascript" src="binds2.js"></script>
    </body>
</html>